<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Chart</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/bootstrap/bootstrap.min.css') }}">
  <!-- Sticky Footer -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/sticky_footer.css') }}">
  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
  <main role="main" class="container">
    <div id="app">
      <section>
          <div class="row">
            <h1 class="display-3 mx-5">Sensores real-time</h1>
          </div>
          <div class="row">
            <!-- Template : Si sensores NO está vacio, entonces escribo en la tabla (para evitar que se vean los binds en el renderizado) -->
            <template v-if="!(sensores === undefined || sensores.length == 0)">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Valor</th>
                  </tr>
                </thead>
                
                <tbody>
                  <tr v-for="(sensor, index) in sensores" :key="index">
                    <th scope="row">#[[sensor.id]]</th>
                    <td>[[sensor.descripcion]]</td>
                    <td>[[sensor.valor]]</td>
                  </tr>
                </tbody>

              </table>
            </template>
            <!-- Fin Template -->
          </div>
      </section>
    </div>
  </main>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col">
          <span class="text-muted">Made with  ❤️  by Tomás Aprile.</span>
        </div>
        <div class="col">
          <span class="text-muted">This project in GitHub <a href="https://github.com/Kraloz/ws-sensores"><i class="fab fa-github"></i></a></span>
        </div>
      </div>
    </div>
  </footer>
<!-- Importamos socket.io -->
<script src="{{ url_for('static', filename='js/vendor/socket-io.js') }}"></script>
<!-- Importamos JQuery -->
<script src="{{ url_for('static', filename='js/vendor/jquery-3.3.1.min.js') }}"></script>
<!-- Importamos Bootstrap -->
<script src="{{ url_for('static', filename='js/vendor/bootstrap/bootstrap.min.js') }}"></script>
<!-- Importamos VueJS -->
<script src="{{ url_for('static', filename='js/vendor/vue.js') }}"></script>
<!-- Script de la app -->
<script src="{{ url_for('static', filename='js/app_vue.js') }}"></script>
</body>
</html>